.jumbotron{
    padding: 1rem 0rem;
    margin: 0px;
}
.container{
    max-width: 100%;
    padding: 0px;
}
.row{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}
.col-md-4{
    padding: 15px;
}
.col-md-8{
    padding: 15px;
}

.low{
    background-color: green;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.moderate{
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.high{
    background-color: orange;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.very-high{
    background-color: red;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.extreme{
    background-color: violet;
    color: black;
    padding: 5px;
    border-radius: 5px;
}